body {
    margin: 0px;
    background-color: grey;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 600px) {
    .container {
        flex-wrap: nowrap;
        text-decoration: none;
    }

    @viewport {
        zoom: 1.0;
        width: extent-to-zoom;
    }


    .container {
        text-align: center;
        background-color: lightblue;
        /* width: 100vw; */
        height: 100vh;
        font-family: 'quicksand', sans-serif;
        font-weight: bold;
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 1fr 1fr 100px;
        gap: 40px;
        padding: 10px;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;

    }

    .container div {
        padding: 10px;
        background-color: azure;
        border-radius: 4em;
        align-items: center;
        align-content: center;
    }

    .header {
        background-color: azure;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        text-decoration: none;
        height: auto;

    }

    /* .content1 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        text-decoration: none;

    } */

    .content {

    }

    .content-large {
        border-radius: 40px;
    }

    a:link {
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
    }

    ol li {
        list-style-type: none;
        color: blue;
        margin-top: 25px;
        font-family: 'Roboto Condensed', sans-serif;


    }

    .footer {
       position:absolute;
       width: 100%;
       left:0;
       bottom:0;

    }

}